<div class="bg-indigo-900 min-h-screen flex justify-center" [@fadeInOut]>
    <div class="fire" >
        <div class="mt-36">
            <h1 class="text-slate-100 text-6xl m-12">Happy</h1>
            <h1 class="text-slate-100 text-6xl ms-8 mb-8">NewYear</h1>
            <span class="text-slate-100 text-9xl">2024</span>
            <h3 class="text-slate-100 text-4xl m-12">{{name | camelcasepipe}}</h3>
            <button class="btn border-slate-100 text-slate-100 w-full"(click) = "goBack()" type ="button">Goback</button>
        </div>
        </div>
    </div>